footer .contact-icons {
    gap: 8px;
    margin-bottom: 20px;
}

footer .contact-icons i {
    background-color: var(--medium-green);
    color: white;
    font-size: 16px;
    padding: 14px;
    border-radius: 50%;
}

footer h2 {
    color: var(--medium-green);
    font-size: 30px;
    margin: 50px 0;
}

footer p {
    font-size: 12px;
    color: #b0b0b0;
}

footer a {
    margin: 8px;
}

footer li {
    line-height: 10px;
    border-right: 1px solid #b0b0b0;
}

footer li:last-child {
    border-right: none;
}


/* *************************************************** */

footer .contact-icons>div {
    position: relative;
}

footer .contact-icons span {
    background-color: #333333;
    color: white;
    text-align: center;
    line-height: 1.4em;
    width: 150px;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -30px);
    padding: 15px;
    border-radius: 8px;
    opacity: 0;
    z-index: 10;
    transition: 0.3s;
}

footer .contact-icons span::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #333333;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
}

footer .contact-icons>div:hover span {
    opacity: 1;
    transform: translate(-50%, -20px);
}


/* ******************************** */

.contact-txt {
    margin: 10px auto;
}

.contact-txt p,
.contact-txt i {
    color: var(--medium-green);
    font-size: 16px;
    margin: 0;
}

footer .footer-list {
    margin-top: 40px;
    color: var(--medium-green);
}