/* *************************  main header ************************* */

header {
    background-color: #2f3e1f;
    color: white;
    font-size: 22px;
    height: 100px;
    z-index: 999;
}

header .main-header {
    height: 100%;
}

header .main-header img {
    height: 80%;
}

header nav ul a {
    display: block;
    border-bottom: 2px solid white;
    line-height: 98px;
    text-align: center;
}

header nav ul a:hover {
    color: #172b1f;
    border-bottom: 2px solid #172b1f;
    transition: 0.6s;
}

header nav ul a span {
    padding: 0 10px;
    border-right: 1px solid #c9c9c9;
}

header nav ul li:last-child a span {
    border: none;
}


/* **************************************************************** */