@media (max-width: 1023px) {
    .container {
        width: 100%;
    }
    .container>div {
        width: 100%;
    }
    header .logo {
        width: 50%;
        height: 40%;
    }
    .main-header {
        flex-direction: column;
    }
    header {
        padding: 10px 0;
        height: auto;
    }
    .main-header nav {
        justify-content: center;
        height: 38px;
        margin-top: 5px;
        border-top: 1px solid rgba(195, 195, 195, 0.445);
    }
    header nav ul a {
        border-bottom: none;
        line-height: 1rem;
    }
    .goal {
        height: 350px;
    }
    .goal h1 {
        font-size: 36px;
        bottom: 5px;
        transform: translate(50%, 0);
    }
    /* *************************************************** */
    .categoryContainer {
        flex-wrap: wrap;
        margin: 0;
    }
    /* *************************************************** */
    .expertise {
        padding: 10px;
        margin-top: 50px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: stretch;
        justify-content: center;
        gap: 10px;
    }
    .statistics {
        flex-direction: column;
    }
    .statistics iframe {
        width: 100%;
    }
    .statistics p {
        font-size: 14px;
    }
    .expertise-box-title {
        margin: 20px;
        padding: 0 35px;
    }
}

@media (max-width: 767px) {
    .category {
        width: 40%;
        font-size: 12px;
    }
    .expertise {
        grid-template-columns: repeat(1, 1fr);
    }
    .goto-top {
        display: none;
    }
}

@media (max-width: 550px) {
    .goal h1 {
        font-size: 24px;
    }
}

@media (max-width: 360px) {
    .category {
        font-size: 10px;
    }
}