*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    color: white;
    background: #2f3e1f;
}

:root {
    --light-green: #e7f0d1;
    --dark-green: #1c2513;
    --medium-green: #2f3e1f;
}

@font-face {
    font-family: yekanFont;
    src: url("./../fonts/fonts/BYekan/BYekan+.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: yekanFont;
}


/* ********************  general  ******************** */

h1,
h2,
h3,
h4 {
    font-weight: 100;
    line-height: 1.2em;
    color: var(--medium-green);
}

h1 {
    font-size: 5vw;
    font-weight: 300;
    width: 90%;
    margin: 40px 0;
}

h2 {
    font-size: 50px;
    margin: 50px 0;
}

h3 {
    font-size: 18px;
    /* margin: 20px 0; */
}

h4 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
p,
a {
    text-align: center;
}

p {
    font-size: 16px;
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 13px;
    cursor: pointer;
}

ul,
li {
    list-style: none;
}


/* 
.bg-medium-green {
    background-color: var(--medium-green);
    color: white;
}

.bg-medium-green {
    background-color: #2f3e1f;
    color: white;
}

.bg-light-green {
    background-color: var(--light-green);
    color: white;
}

.bg-dark-green {
    background-color: var(--dark-green);
    color: white;
}

.bg-light {
    background-color: white;
    color: black;
}

.bg-gray {
    background-color: #f7f7f7;
    color: black;
}

.color-green {
    color: var(--light-green);
} */

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.direction-column {
    flex-direction: column;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.padding-tb-100 {
    padding: 100px 0;
}

.padding-tb-50 {
    padding: 50px 0;
}

.padding-tb-20 {
    padding: 20px;
}

.g-20 {
    gap: 20px;
}

.g-10 {
    gap: 10px;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}


/* ********************************************************** */

.scales-icon {
    padding: 50px 0;
    color: var(--dark-green);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.scales-icon img {
    height: 15px;
}

.scales-icon::before,
.scales-icon::after {
    content: "";
    width: 40px;
    height: 1px;
    background-color: var(--medium-green);
}

.scales-icon::before {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(-100%, -50%);
}

.scales-icon::after {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(10px, -50%);
}


/* ********************************************************** */

.expertise-box {
    padding: 10px;
    flex-direction: column;
    border-radius: 20px;
    background-color: #eef2d7;
    color: #2b370f;
}

.expertise-box img {
    width: 100%;
    border-radius: 20px;
}

.expertise-box-title {
    margin: 20px;
    padding: 0 10px;
    justify-content: space-between;
    width: 100%;
    direction: ltr;
}

.expertise-box h3,
.expertise-box h4 {
    line-height: 1.5em;
    letter-spacing: 0.05em;
    font-size: 16px;
}

.expertise-box p {
    margin: 10px;
    font-size: 0.7em;
    color: rgb(51, 51, 51);
    line-height: 1.5em;
    letter-spacing: 0.05em;
}

.expertise-box a {
    padding: 10px;
    width: 160px;
    border-radius: 0;
    font-size: 12px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-top: 1px solid #172b1f3e;
    border-bottom: 1px solid #172b1f3e;
}


/* ********************************************************* */

.button-style {
    transition: 0.2s;
}

.button-style:hover {
    opacity: 80%;
    width: 170px;
}


/* ********************************************************* */

.goto-top {
    background-color: rgba(235, 235, 235, 0.685);
    color: rgba(107, 107, 107, 0.664);
    padding: 17px;
    font-size: 15px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: none;
    border-radius: 2px;
}


/* ********************************** */

.gallary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallary img {
    width: 100%;
}